#headeritems {display: flex;
        justify-content: flex-end;
        background-color: rgb(18, 18, 102);
        margin: 0;
        color: white;
        
        }
#headeritem1 {
        border-right: 1px solid rgb(255, 255, 255);
        padding-right: 2vw;
        padding-bottom: 1vh;
        }
#headeritem2 {padding-left: 2vw;
    }
.headera{padding-left: 3vw;
    padding-right: 2vw;}
.headeritems { padding-top: 2vh;
    border-bottom: 1px solid rgb(248, 248, 248);}

body{background-color: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
    
       
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbuttonclass {border-left: none;
    border-top-right-radius: 5%;
    
    border-bottom-right-radius: 5%;
    height: 10vh;
    width: inherit;
    background-color: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
    
    border-top-width: 3px;
    border-bottom: none;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.navbuttonclass:hover{
    width: 30vw;
    font-size: larger;
    box-shadow: 0 8px 16px 0 rgba(16, 3, 194, 0.2), 
    0 6px 20px 0 rgba(16, 3, 194, 0.2);
    z-index: 5000;
    
}
.mnavbuttonclass{
    border-left: none;
    border-top-right-radius: 5%;
    
    border-bottom-right-radius: 5%;
    height: 10vh;
    width: inherit;
    background-color: rgb(18, 18, 102);
    color: white;
    
    border-top-width: 3px;
    border-bottom: none;
    border-color: white;
    border-right-color:rgb(18, 18, 102);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bolder

}
#homebutton{ border-top: none;
    border-top-right-radius: 0%;
    
    }
#aboutbutton{
    border-bottom-right-radius: 0%;}
.rightaside{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 25vw;
}
#credentialsaside , #engagementaside{ display: flex;
    justify-content: flex-end;
    }

    
#maintop{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 5vw;
    
    
}

#mainclip{margin-top: 5vh;}

#navigation {display: flex;
        flex-direction: column;
        width: 25vw;
        margin-left: -2vw;
        margin-top: 8vh;
        justify-content: stretch;

        }

* {
    box-sizing: border-box; 
    }

        
        
.rightasideitem{padding-right: 8vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
          }
.classbuttons {padding: 10px;
    margin-top: 4vh;
    background-color: rgb(18, 18, 102);
    color: white;
}


#mainpageparagraph{
    color: rgb(0, 0, 0);
}
#thirdpartition{display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

#secondpartition{display: flex;
        flex-direction: column;
        padding-left: 10vw;
        margin-top: 5vh;
        }
#forthpartition{width: inherit;
        margin-right: 5vw;}

#footeritemsbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5vh 10vw
}
#footer1, #footer2, #footer3 {display: flex;
    flex-direction: column;
}
.navigationa{
    padding: 5vh 10vw;
    margin-left: -4vw;
    text-decoration: none;
    color: inherit;
}

.iconitem{
    height: 1em;
    width: 1em;
}
a{text-decoration: none;
    color: inherit;
    }
#homerightsideitems{
    
    padding: 0px 0px;
}

@media screen and (max-width: 500px){
    body{
        width: inherit;
    }
    main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: inherit;
    }
    
    #navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
        margin-left: -2vw;
        margin-top: 8vh;
        justify-content: stretch;
        width: inherit;
        }
    .navbuttonclass{
        padding: 0;
        margin: 0;
        
    }
    
    
}
@media screen and (max-width: 809px) {
    #engagementaside{
        margin-left: 2vw;
    }
    .rightasideitem{
        flex-direction: row;
        
    }

    
}


